@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,700;1,100;1,300;1,500;1,700&display=swap");

:root {
    --primary: #fe2c55;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    margin: 0;
    padding: 0;
}
